original bottom.html:


                <div class="col">
                    <div class="text-center"></div>
                    <a href="https://www.facebook.com/verbala" class="fa fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/keegan-helmbrecht-11090b16/" class="fa fa-linkedin"></a>
                    <a href="http://www.instagram.com/verbala" class="fa fa-instagram"></a>
                    <a href="http://verbala.tumblr.com/" class="fa fa-tumblr"></a>
                    <a href="https://github.com/keegan-he" class="fa fa-github"></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>